body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(145, 164, 168);
  }

  main {
    flex: 1 0 auto;
  }

  #nav {
      background-color: gray;
      height: 113%;
      box-shadow: 15px 15px 15px rgb(85, 84, 84);
  }
  #photo {
      width: 15%;
      border: 1px solid white;
      margin-top: -3%;
   
  }
  
#secondpage {

   width: 100%;
    height: 80%;
   
}
#bio {
    margin-left:6%;
    background-color:rgb(102, 139, 146);
    /* border: .5px solid white; */
    box-shadow: 5px 5px 5px rgb(59, 59, 59);
    color:white;
}
#ab {
    color:white;
    margin-left:6%;
}
#proj {
    color:white;
    margin-left:6%;
}
#about_me {
    font-size: 120%;
   
}
#para2 {
    font-size: 120%;
}
#skills {
    margin-left:4%;
    background-color:rgb(102, 139, 146);
    /* border: .5px solid white; */
    box-shadow: 5px 5px 5px rgb(59, 59, 59);
    color:white;
}

#projectpages {
    width: 100%;
    height: 100%;
    background-color:rgb(102, 139, 146);
    color: white;
}

#footers {
    width: 100%;
    background-color: grey;
}
#name {
    margin-left:5%;
    color: rgb(204, 199, 203);
}
#title {
    margin-left:23.5%;
    margin-bottom:3%;
    color:pink;
}
#footernote {
    margin-left: 50%;
    padding-bottom: 2%;
}

#sociallink {
    margin-left:50%;
}
  
    #Marvel {
        width:20%;
        margin-left:21%;
        margin-top:1.5%;
       
    }
    #marvelPhoto {
        width: 100%;
        margin-bottom:-2%;
  
    }
    #FantasyFootball {
        width:20%;
        height:-5%; 
        float:right;
        margin-left:20%;
       margin-right:38%;
       margin-top:-20%;
       padding-bottom:-4%;
    }

    #ff {
        width: 100%; 
        margin-bottom: -4.5%; 
        
    }
    #Burger {
        clear:both;
        width:20%;
        float:right;
        margin-right:17%;
        margin-top:-20%;
    }
    #burger {
        width: 99%;
        margin-bottom: -1%;
    }
    #Train {
        clear:both;
        width:20%;
        float:right;
        margin-right:17%;
        margin-top:-19.6%;
    }
    #schedule {
        width: 100%;
        margin-bottom: 1%;
    }
    #FriendFind {
       clear: both;
        float:left;
        width:20%;
        margin-top:-19.5%;
        margin-right:80%;
        margin-left: 21%;
    }
    #friendfind {
        width: 103%;
       
        
       
    }
    #Bamazon {
        clear: both;
        float:right;
        width:20%;
        margin-top:.18%;
        margin-right:38%;
     
        
    }
    #bamazon {
        width: 118%;
        height:-5%;
        
    }
    #thirdpage {
        background-color:rgb(102, 139, 146);
        /* box-shadow: 5px 5px 5px rgb(59, 59, 59); */
    }